.obuna {
    background-color: #37aee2
    ;
}
button span {
    color: white;
}
.kasallangan {
    color: #DB0000;
}
.tuzalganlar {
    color: #05B135;
}
.vafotetgan {
    color:#000000;
}
button {
    background-color: #37aee2;
}
.kichikbolim {
    background-color:  #F6F6F9;
}
.pastkiqism {
    background-color: #295093;
}