.tepaqism {
    background-color: #F6F6F9;
}
nav {
    background-color: #9F9F9F;
}
.przdent {
    color: #28508E;
}
.kichikbolim {
    background-color: #E4E4E4;
}
.pastkiqism {
    background-color: #295093;
    color: white;
}
footer button {
    background-color: white;
    color: #295093;
}
footer ul li a {
    color: white;
}
footer a img {
     background-color:#28508E ;
     color: white;
}

.obuuna {
    color: white;
}